{:kotoba.app/id "cloud.itonami.isic-0114", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreieyub7zm7jytkwvpkp7bvi47mhhseqce3hx4mf4msht55wltbz6bi", :kotoba.app/embed-url "ipfs://bafkreieyub7zm7jytkwvpkp7bvi47mhhseqce3hx4mf4msht55wltbz6bi", :published {:archive "https://kotobase.net/ipfs/bafkreieyub7zm7jytkwvpkp7bvi47mhhseqce3hx4mf4msht55wltbz6bi", :size 72323, :put-status 201, :get-status 200, :at "2026-08-15T12:55:39.279Z"}}
